:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: none;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  margin-right: 5px;
}

h5 {
  margin-right: 5px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.load-image-input {
  min-width: 480px;
  margin-bottom: 20px;
}

.load-image-input::-webkit-file-upload-button{
  visibility: hidden;
}

.load-image-input::before {
  content: 'Select some image';
  width: 100%;
  text-align: center;
  display: inline-block;
  background: #4CAF50;
  color: white;
  border: none;
  padding: 8px 10px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

.load-image-input:hover::before{
  opacity: 0.8;
}

.listOfWaterMarkedImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}

.transform-image {
  position: relative;
}

.hidden-block-water-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 100%;
  z-index: -1;
}

.imageStyle {
  display: block;
  margin-right: 20px;
}

.list-instal-watermark-stamp {
  list-style: none;
}

.main-block-image-with-watermark {
  display: flex;
  margin-bottom: 10px;
}

.name-water-mark {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.name-watermark {
  height: 30px;
  padding: 5px;
}

.gallery-watermark{
  border: 5px solid #4CAF50 ;
  display: none;
  width: 40%;
  height: auto;
  cursor: pointer;

}

.btn-base-style{
  background-color: #4CAF50;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
}

.btn-base-style:hover {
  opacity: 0.8;
}


.list-instal-text-watermark-stamp {
  visibility: hidden;
  list-style: none;
  padding: 0;
}

.create-text-watermarked-image {
  display: flex;
  flex-direction: column;
}

.instal-size-position-watermark {
  visibility: hidden;
}


.title-position {
  margin-right: 5px;
}


.btn-position {
  width: 40px;
  height: 40px;
  border: solid 1px burlywood;
  background-color: yellow;
  margin-right: 5px;
  cursor: pointer;
}

.create-name-watermark {
  visibility: hidden;
  background: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.create-name-watermark:hover {
  opacity: 0.8;
}

.basic-instal-text-watermark{
  display: flex;
  align-items: center;
}

.download-watermarked-image {
  visibility: hidden;
  background: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

#watermark-text-edit {
  position: absolute;
}

.btn-saveAllChange-watermark-image{
  background-color: #4CAF50;
  width: 100%;
  visibility: hidden;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-saveAllChange-watermark-image:hover {
  opacity: 0.8;
}

.finalImage{
  display: block;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

.watermarkStampImg{
  display: block;
  position: absolute;
  top:0;
  left:0;
  z-index: -2;
}

#waterMarkedImage{
  color:white
}